.footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  padding: 40px 0;
  color: var(--white);
  flex-direction: column;
  font-family: var(--ibm);
  gap: 20px;
}

.contacto{
  font-size: var(--32);
  color: var(--amarillo);
}

.info{
  font-size: var(--16);
  font-weight: 100;
}

.icon{
  font-size: var(--32);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  padding: 8px;
}

@media screen and (max-width: 640px) {
  .footer{
    padding: 40px 40px;
    text-align: center;
  }
}