.imageSection{
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.imageContainer{
   position: relative;
   width: 100%;
}

.degradadoPortafolioTop {
   position: relative;
   height: 600px;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 10%, rgba(3, 3, 33, 1) 100%);
   z-index: 0;
   margin-bottom: -600px;
}

.textandGraph{
   width: 100%;
   position: absolute;
   top: 20%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 80px;
}

.imagen{
   max-width: 100%;
   width: 100%;
   height: 600px;
   object-fit: cover;
   display:block;
}

.texto{
   display: flex;
   flex-direction: column;
}

.textoSecundario{
   font-size: var(--36);
   font-weight: 300;
   font-family: var(--ibm);
   color: var(--white);
}

.textoPrincipal{
   font-size: var(--48);
   font-weight: 400;
   font-family: var(--ibm);
   color: var(--white);
/*
   width: 0;
   overflow: hidden;
   white-space: nowrap;
   border-right: 0.15em solid var(--white);
   animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;*/
}


/*
@keyframes typing {
   from {
     width: 0;
   }
   to {
     width: 100%;
   }
}

@keyframes blink {
   50% {
     border-color: transparent;
   }
 }
 */

.buttonVer{
   border: 1px solid var(--white);
   background-color: var(--white);
   color: var(--dark);
   font-size: var(--16);
   font-family: var(--inter);
   padding: 8px 36px;
   margin: 24px 0px;
   border-radius: 8px;
   width: 120px;
}

.graficohome{
   height: 400px;
   width: auto;
}

/*---------------------------------------------------------- cards -------------------------------------------------*/

.cardsSection{
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
   background-color: var(--dark);
   padding: 40px 60px;
}

.cardsContainer{
	width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.linkCard{
   width: 32%;
}

.imageContainerCards:hover{
   transform: scale(1.05);
   transition: transform 0.5s;
}

.textoCard{
   position: absolute;
   bottom: 32px;
   left: 32px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 12px;
}

.cardIcon{
   text-align: center;
   color: var(--white);
   display: flex;
}

.cardTittle{
   text-align: left;
   font-family: var(--ibm);
   font-size: var(--20);
   font-weight: 500;
   color: var(--white);
   display: flex;
   width: 100%;
}

.buttonAccordion{
   text-align: left;
   border: none;
   background: none;
   outline: none;
   cursor: pointer;
   color: var(--white);
   font-family: var(--ibm);
   font-size: var(--16);
   font-weight: 600;
}

.degradadoPortafolioTopCards {
   position: relative;
   height: 520px;
   background: linear-gradient(to left, rgba(255, 255, 255, 0) 1%, rgba(3, 3, 33, 0.80) 100%);
   z-index: 0;
   margin-bottom: -520px;
}

.imagenCard{
   max-width: 100%;
   width: 100%;
   height: 520px;
   object-fit: cover;
   display:block;
}

/*---------------------------------------------------------- info -------------------------------------------------*/

.infoSection{padding: 0px 20px;
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
   background-color: var(--white);
   padding: 40px 60px 80px 60px;
}

.infoContainer{
   max-width: 120rem;
	width: 100%;
}

.cardInfo{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 40px;
}

.infoLogo{
   width: 200px;
   height: auto;
}

.infoHome{
   font-family: var(--ibm);
   font-weight:400;
   color: var(--dark);
   font-size: var(--20);
   text-align: center;
   width: 60%;
}

@media screen and (max-width: 1000px) {
   .textandGraph{
      top: 10%;
      display: flex;
      flex-direction: column;
      padding: 0px 40px;
   }

   .texto{
      justify-content: center;
      align-items: center;
   }

   .graficohome{
      width: 280px;
      height: auto;
   }

   /*---------------------------------------------------------- cards -------------------------------------------------*/

   .cardsContainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
   }

   .linkCard{
      width: 100%;
   }

   .degradadoPortafolioTopCards {
      height: 420px;
      margin-bottom: -420px;
   }

   .imagenCard{
      height: 420px;
   }

   /*---------------------------------------------------------- info -------------------------------------------------*/

   .infoSection{
      padding: 40px 60px 80px 60px;
   }

   .infoHome{
      width: 100%;
   }
   
}

@media screen and (max-width: 640px) {
   .textandGraph{
      top: 10%;
      display: flex;
      flex-direction: column;
      padding: 0px 40px;
   }

   .texto{
      justify-content: center;
      align-items: center;
   }

   .textoSecundario{
      font-size: var(--28);
      text-align: center;
   }

   .textoPrincipal{
      font-size: var(--36);
      text-align: center;
      font-weight: 500;
   }

   .graficohome{
      width: 280px;
      height: auto;
   }

   /*---------------------------------------------------------- cards -------------------------------------------------*/

   .cardsSection{
      padding: 20px 20px;
   }

   .degradadoPortafolioTopCards {
      height: 360px;
      margin-bottom: -360px;
   }

   .imagenCard{
      height: 360px;
   }

   /*---------------------------------------------------------- info -------------------------------------------------*/

   .infoSection{
      padding: 40px;
   }
   
}
