.tittleSection{
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
   background-color: var(--dark);
   padding: 40px 0px;
}

.tittleContainer{
   max-width: 120rem;
	width: 100%;
   display: flex;
   flex-direction: column;
   color: var(--white);
   font-family: var(--inter);
}

.tittlePrincipal{
   font-size: var(--40);
   font-weight: 300;
}

.tittleSecondary{
   font-size: var(--40);
   font-weight: 500;
}

/*---------------------------------------------------------- photo -------------------------------------------------*/

.photoSection{
   position: relative;
}

.photoSostenibilidad{
   width: 100%;
   height: 480px;
   object-fit: cover;
}

.photoContainer{
   position: absolute;
   color: var(--white);
   font-family: var(--inter);
   top: 90%;
   left: 10%;
   transform: translate(-10%, -90%);
   width: 400px;
}

.phototittlePrincipal{
   font-size: var(--12);
   font-weight: 300;
}

.phototittleSecondary{
   font-size: var(--24);
   font-weight: 500;
}

/*---------------------------------------------------------- cards -------------------------------------------------*/

.cardsSection{
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
   padding: 80px 0px;
}

.cardsContainer{
   max-width: 120rem;
	width: 100%;
   display: flex;
   justify-content: space-between;
}

.card{
   display: flex;
   flex-direction: column;
   width: 400px;
   gap: 8px;
}

.cardImage{
   width: 100%;
   height: auto;
   height: 280px;

}

.cardNumber{
   font-family: var(--inter);
   font-size: var(--56);
}

.cardTittle{
   font-family: var(--inter);
   font-size: var(--24);
   color: var(--amarillo);
}

.cardTexto{
   font-family: var(--inter);
   font-size: var(--16);
   color: var(--dark);
}