.tittleSection{
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
   background-color: var(--dark);
   padding: 40px 40px;
}

.tittleContainer{
	width: 100%;
   display: flex;
   flex-direction: column;
   color: var(--white);
   font-family: var(--inter);
}

.tittlePrincipal{
   font-size: var(--40);
   font-weight: 300;
}

.tittleSecondary{
   font-size: var(--40);
   font-weight: 500;
}

/*---------------------------------------------------------- forms -------------------------------------------------*/
.formSection{
   background-color: var(--dark);
   padding: 60px 40px;
   display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
   gap: 20px;
}

.inputGroup{
   display: flex;
   width: 100%;
   gap: 20px;
}

.nombresInput, .apellidosInput, .emailInput{
   padding: 8px 20px;
   border-radius: 8px;
   font-family: var(--poppins);
   border-color: var(--white);
   width: 100%;
   font-size: var(--16);
}

.customFileUpload{
   padding: 8px 20px;
   border-radius: 8px;
   font-family: var(--poppins);
   border-color: var(--white);
   width: 100%;
   background-color: var(--white);
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.buttonUpload {
   background-color: var(--amarillo);
   color: #fff;
   border: none;
   padding: 8px 20px 4px 20px;
   cursor: pointer;
   font-size: var(--20);
   border-radius: 8px;
}

.fileInput {
   display: none;
}

.fileSection{
   font-size: var(--16);
}

.buttonEnviar{
   background-color: inherit;
   font-family: var(--ibm);
   color: var(--white);
   padding: 8px 80px;
   border-radius: 8px;
   border: 1px solid var(--white);
   cursor: pointer;
   font-size: var(--16);
   margin-top: 40px;
}
